{% extends "base.html" %} {% block title %} About {% endblock %} {% block
content %}
<br />
<br />
<br />
<div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-3 nopadding">
            <img src="images/pdpprime.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-3 nopadding">
            <img src="images/TIPE/realbeamcropped.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-3 nopadding">
            <img src="/images/teapot.png" class="img-fluid" />
        </div>
        <div class="col-sm-3 nopadding">
            <img src="/images/wave-sim.png" class="img-fluid" />
        </div>
        <div class="col-sm-3 nopadding">
            <img src="images/TIPE/first40cells.jpg" style="" class="img-fluid" />
        </div>
        <div class="col-sm-6 nopadding">
            <img src="images/wide_baloon.png" class="img-fluid" />
        </div>
        <div class="col-sm-3 nopadding">
            <img src="images/pdp2.jpg" class="img-fluid" />
        </div>


        <div class="col-12"></div>
        <div class="col-12 mt-sm-5"></div>
        <div class="col-sm-3">
            <img src="/images/TIPE/beamquiwork2.gif" class="img-fluid" />
        </div>
        <div class="col-sm-5">
            <img src="/images/TIPE/3drenderingofpcb.png" class="img-fluid" />
        </div>
        <div class="col-sm-4">
            <img src="/images/TIPE/pointclouddecote.png" class="img-fluid" />
        </div>
        <br />
        <div class="col-12">
            <center>
                <figcaption class="figure-caption text-center">
                    Click any image to zoom
                </figcaption>
            </center>
        </div>
        <div class="col-12 mt-sm-5"></div>
        <div class="col-12">
            I'm a gap-year student at
            <a href="https://www.centralesupelec.fr">CentraleSupélec</a>.
            I've built many software and hardware projects in areas ranging from
            robotics to finance, notably including one of the world's first
            <a href="2021-04-28_How-I-built-an-ultrasonic-3d-scanner.html">
                ultrasonic 3d scanner</a
            >
            that works in the air. Most of my work is shown
            <a href="projects.html">here</a>.
            <br />
            <br />
            I'm currently looking for a six-month internship out of France from March to September 2024. <a href="/resumev2.pdf">Resume</a>
        <br />
            <br />

            <p class="h5">Find Me</p>
            Email:
            <a href="mailto:alex@alextoussaint.com">alex@alextoussaint.com</a><br />
            Github: <a href="https://github.com/alextousss">alextousss</a>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<style>
    .nopadding {
        padding-left: 0;
        padding-right: 0;
    }
</style>

{% endblock %} {% block scripts %}
<script
    type="text/javascript"
    src="https://unpkg.com/medium-zoom@1.0.4/dist/medium-zoom.min.js"
></script>
<script type="text/javascript">
    mediumZoom("img");
</script>

{% endblock %}
