{% extends "base.html" %}
{% block content %}
<div class="mt-5" style="max-width: 50ch">
    {{ post|safe }}
</div>
{% endblock %}
{% block title %}
{{ env.title }}
{% endblock %}
<div class="ml-form-embed"
     data-account="1863036:s5j5r0a3y7"
     data-form="1751676:g2b8d7">
</div>

{% block scripts %}
<script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1863036', 's5j5r0a3y7', 'load');
</script>
{% endblock %}
