{% extends "base.html" %} {% block title %} Projects {% endblock %} {% block
content %}

<div class="container">
    Here's what keeps me busy at night:<br /><br />
    <p class="h4">Sensors</p>
    I've built an ultrasonic 3d scanner using a phased array emitter. It works
    like the active phased array radar on modern fighter jets, but with
    ultrasonics. <br />
    I wrote a
    <a
        href="https://www.alextoussaint.com/2021-04-28_How-I-built-an-ultrasonic-3d-scanner.html"
    >
        lengthy project writeup</a
    >, and it was featured in an <a href="">Hackaday.com article </a>

    <br /><br />
    <figure class="figure mt-1">
        <img
            src="/images/TIPE/pointclouddecote.png"
            class="zoomable figure-img"
            style="max-height: 300px;"
        />
        <figcaption class="figure-caption text-center">
            Click to zoom.
        </figcaption>
    </figure>
    <figure class="figure mt-1">
        <img
            src="/images/TIPE/lamachinedefront.jpeg "
            class="zoomable figure-img"
            style="max-height: 300px;"
        />
        <figcaption class="figure-caption text-center">
            Click to zoom.
        </figcaption>
    </figure>
    <br />
    <br />

    <p class="h4">Money</p>
    I've co-founded <a href="https://kaktana.com">Kaktana</a>, a SaaS to create
    crypto trading bots with no programming knowledge.<br />
    It led me to build custom trading bots for wealthy individuals.<br /><br />
    <img
        src="images/turtlekaktana.png"
        style="max-width: 100%; overflow-x: scroll;"
        class="img-fluid"
    />
    <br /><br />

    <p class="h4 mt-3">Robotics</p>
    <a href="https://github.com/alextousss/ballfinder">Ballfinder</a> (school
    project) a robotic arm controlled by the wearer's arm moves + computer
    vision. When the wearer closes his hand (detected by ECG), the robotic arm
    tries to find a ball and to catch it using computer vision. The robotic arm
    is a toy. We had to enslave it with an arduino and H-drives.<br />
    Explanation of the computer vision pipeline in this
    <a href="https://twitter.com/alextoussss/status/1134457503268462598">
        twitter thread</a
    >
    (french but with lots of pics). <br />

    <video class="zoomable figure-img" height="240" width="320" controls>
        <source src="images/videoballfinder.mp4" type="video/mp4" />
    </video>

    <p class="h4 mt-3">AI 😲</p>
    I've built <a href="https://github.com/alextousss/wargames">wargames</a>, a
    game where two AIs compete with each other and advance with a genetic
    algorithm. (Python)

    <p class="h4 mt-3">Graphics</p>
    <a href="https://github.com/alextousss/pyWireframeRenderer"
        >pyWireframeRenderer</a
    >, a complete 3D pipeline with only Numpy and Pygame (2D graphics).
    <br /><br />
    <figure class="figure mt-1">
        <img
            src="https://raw.githubusercontent.com/belzebalex/pyWireframeRenderer/master/images/teapot.png"
            class="zoomable figure-img"
            style="max-width: 300px;"
        />
        <figcaption class="figure-caption text-center">
            Click to zoom.
        </figcaption>
    </figure>
    <figure class="figure mt-1">
        <img
            src="https://raw.githubusercontent.com/belzebalex/pyWireframeRenderer/master/images/cube_demo.png"
            class="zoomable figure-img"
            style="max-width: 300px;"
        />
        <figcaption class="figure-caption text-center">
            Click to zoom.
        </figcaption>
    </figure>

    <p class="h4 mt-3">Physics</p>
    <a href="https://github.com/alextousss/wave-sim">Wave-Sim</a> a 2D
    interference simulation to understand phased array beams (the technique used
    for fighter jet radars) (C++)
    <figure class="figure mt-1">
        <img
            src="images/wave-sim.png"
            class="zoomable figure-img"
            style="max-width: 300px;"
        />
        <figcaption class="figure-caption text-center">
            Click to zoom.
        </figcaption>
    </figure>

    <p class="h4">Things that fly</p>
    I've built numerous model planes, and my own
    <a href="https://github.com/alextousss/quadcopter">quadcopter</a>
    (stabilization code in C++ included) from scratch when I was 14.
    <br /><br />
    On summer 2018, friends and I launched a high-altitude balloon during a
    summer camp. We designed the hardware onboard and a control mechanism to
    trigger a 360° camera.
    <br /><br />
    <div class="scroll-horizon">
        <figure class="figure mt-1">
            <img
                src="images/ballon2.jpeg"
                class="zoomable figure-img"
                style="max-height: 300px;"
            />
            <figcaption class="figure-caption text-center">
                Click to zoom.
            </figcaption>
        </figure>
    </div>
    <div class="scroll-horizon">
        <figure class="figure mt-1">
            <img
                src="images/ballon.jpeg"
                class="zoomable figure-img"
                style="max-height: 300px;"
            />
            <figcaption class="figure-caption text-center">
                The white floating blobs are parts of the balloon that blew up
                at the edge of space.
            </figcaption>
        </figure>
        <br />
        Check out some 360° photos
        <a href="https://roundme.com/tour/293827/view/929818/">here</a>.
    </div>
    <p class="h4 mt-3">+ many other things</p>
    I invite you to check out my
    <a href="https://github.com/alextousss">github</a>.<br /><br />

    <div class="mt-5"></div>
</div>
<style>
    .scroll-horizon {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .scroll-horizon img {
        display: inline-block;
    }
</style>

{% endblock %} {% block scripts %}
<script
    type="text/javascript"
    src="https://unpkg.com/medium-zoom@1.0.4/dist/medium-zoom.min.js"
></script>
<script type="text/javascript">
    mediumZoom(".zoomable");
</script>
{% endblock %}
